
/* Chưa làm shadow dropdown header */

:root {
    --primary-color : #fa5030;
}

html {
    font-size: 62.5%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
  height: 1000rem;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: white;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


.app__header--pc {
    background-color: var(--primary-color);
    width: 100%;
    height: 12.2rem;
    margin: 0 auto;
    position: fixed;
    z-index: 1;
}

.container {
    margin: 0 auto;
    width: 120rem;
}

.header__navbar--pc {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  padding-top: 0.8rem;
}

.navbar--left__header--pc,
.navbar--right__header--pc {
  display: flex;
}

.navbar__item {
  position: relative;    
  margin-right: 2rem;
  color: white;
}


.navbar__item--left::after {
  position: absolute;
  content: "";
  height: 1rem;
  width: 0.1rem;
  display: block;
  background-color: #ccc;
  top: 5px;
  right: -12px;
}


.navbar__item--last-left {
    align-items: center;
    display: flex; 
    color: white;
}

.navbar__item--last-left > a {
    margin-left: 0.5rem;
}

.navbar__item--last-left > svg:last-child {
    color: white;
    margin-left: 1rem;
}

.navbar__item--last-left::after {
  display: none;
}

.navbar__item:hover {
    cursor: pointer;
    opacity: 0.8;
}

.navbar__item--last-left:hover {
    opacity: 1;
    cursor:text
}

.user-name {
    margin-left: -1rem;
    font-size: 1.3rem;
}

.header__withSearch--pc {
    margin-top: 2rem;
}

.header__withSearch__logo {
    height: 5rem;
    width: 16.2rem;
}

.header__search {
    width: 84rem;
    height: 4.1rem;
    background-color: white;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-top: 0.4rem;
}

.header__seach--input {
    width: 93%;
    height: 100%;
    font-size: 1.5rem;
    border: none;
    padding: 1rem;
}

.btn-search {
    background-color: var(--primary-color);
    padding: 1rem 1.9rem;
    color: white;
    border-radius: 2px;
}

.btn-search:hover {
    color: white;
    background-color: var(--primary-color);
    cursor: pointer;
    opacity: 0.8;
}

.cart--icon {
    color: white;
    height: 2.6rem;
    width: 2.6rem;
    top: 1.8rem;
    right: 1rem;
    position: relative;
}

.cart--icon__wrap {
    position: relative;
}

.cart--quantity {
    position: absolute;
    color: var(--primary-color);
    background-color: white;
    padding: 0 0.5rem ;
    border-radius: 40%;
    font-size: 1.3rem;
    top: 1.1rem;
    right: 6rem;
}

.product__list {
    display: flex;
    list-style: none;
    font-size: 1.2rem;
    margin-top: 0.2rem;
}

.product__item {
    margin-left: 1.5rem;
}

.product__item:first-child {
    margin-left: -2rem;
}
/* DropDown */
.navbar__item--download {
    position: relative;
}


.navbar__item--download:hover {
    opacity: 1;
}

.navbar__item--download:hover .download--dropdown {
    display: block;
}


.download--dropdown::after {
    position: absolute;
    content: "";
    display: block;
    width: 20rem;
    height: 3rem;
    right: 0rem;
    top: -2rem;
}

.download--dropdown {
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   position: absolute;
   background-color: white;
   width: 18rem;
   height: 24rem;
   top: 3.5rem;
   border-radius: 0.2rem;
   display: none;
}
.download__qr--wrap {

    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.download__options {
    display: flex;
    flex-wrap: wrap;
}
.dowload-item {
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    color: black;
}
/* Language */
.navbar__item--language {
    position: relative;
}

.navbar__item--language:hover {
    opacity: 1;
}


.navbar__item--language:hover .select-language {
    display: block;
}


.select-language {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    background-color: white;
    width: 20rem;
    left: -10rem;
    top: 2.5rem;
    border-radius: 0.2rem;
    display: none;
    transform-origin: 90%;
    animation: headerCartGrowth ease-in 0.3s;
    will-change: opacity, transfrom;
}

.select-language::before {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    right: 4rem;
    top: -0.7rem;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid white;
}


.select-language::after {
    position: absolute;
    content: "";
    display: block;
    width: 20rem;
    height: 3rem;
    right: 0rem;
    top: -1.7rem;
}


.language__list {
    color: black;
    height: 5rem;
    list-style: none;
    text-decoration: none;
}

.language__item {
    padding: 1rem;
}

.language__item:hover {
    color: var(--primary-color);
}

/* cart--added */
.cart--icon__wrap {
    position: relative;
}
.cart--icon__wrap:hover .cart__wrap--added  {
    display: block;
}
.cart--icon__wrap:hover {
    cursor: pointer;
}
.cart__wrap--added {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    width: 39rem;
    top: 5.5rem;
    right: 6rem;
    background-color: #fff;
    display: none;
    transform-origin: 100% top;
    animation: headerCartGrowth ease-in 0.2s;
    will-change: opacity, transfrom;
}

@keyframes headerCartGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.cart__wrap--added::before {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    right: 1rem;
    top: -0.7rem;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid white;
}
.cart__wrap--added::after {
    position: absolute;
    content: "";
    display: block;
    width: 20rem;
    height: 3rem;
    right: 0rem;
    top: -1.7rem;
}
.cart__header--added {
    color: #ccc;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 500;
}
.cart__body--added {
    font-size: 1.3rem;
    font-weight: 500;
}
.cart__list--added {
    padding: 1rem;
}
.cart__item--added {
    display: flex;
    align-items: start;
    margin-bottom: 2rem;
}
.cart__NamePrice__item--added {
    display: flex;
    align-items: center;
}
.cart__item--added__img {
    width: 5rem;
    height: 5rem;
}
.cart__item--added__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4rem;
    width: 24rem;
}
.cart__item--added__price {
    font-size: 1.4rem;
    justify-content: end;
    display: flex;
    padding-right: 1rem;
    color: var(--primary-color);
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 9rem;
}
.cart__footer--added {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    justify-content: space-between;
    background-color: #fdfdfd;
    padding: 1.5rem 0;
    margin-top: -2rem;
}
.cart__quantity--added {
    padding-left: 1rem;
}

.btn--viewcart {
    background-color: var(--primary-color);
    border-radius: 0;
    padding: 1rem 2rem;
    margin-right: 1rem;
    color: white;
    font-size: 1.3rem;
}
.btn--viewcart:hover {
    background-color: #fa5030;
    color: white;
    opacity: 0.8;
}

/* Dropdown noti */
.header__noti {
    position: relative;
}
.dropdown__noti {
    background-color: #fff;
    width: 41rem;
    position: absolute;
    top: 2.5rem;
    left: -33rem;
    display: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.dropdown__noti__header {
    background-color: #fff;
    color: #ccc;
    font-size: 1.5rem;
    padding: 0.8rem 1rem;
}
.dropdown__noti__body {
    padding-top: 0.5rem;
}
.noti--item { 
    display: flex;
    padding-top: 1rem;
}
.noti__item--inf {
    padding-left: 1rem;
}
.noti--item__img {
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
}
.noti--item__title {
    color: black;
    line-height: 1;
    font-size: 1.5rem;
    opacity: 0.8;
}
.noti--item__des {
    color: #ccc;
    margin-top: 0.5rem;
}
.dropdown__noti__footer {
    color: black;
    background-color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.dropdown__noti::before {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    right: 3rem;
    top: -0.7rem;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 8px solid white;
}
.header__noti:hover {
    opacity: 1;
}
.header__noti:hover .dropdown__noti {
    display: block;
    transform-origin: 100% top;
    animation: headerCartGrowth ease-in 0.2s;
    will-change: opacity, transfrom;
}
/* Dropdown Account */
.header__account {
    position: relative;
}
.dropdown__account {
    position: absolute;
    background-color: white;
    top: 3rem;
    right: 0rem;
    width: 15rem;
    display: none;
    z-index: 1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header__account:hover .dropdown__account {
    opacity: 1;
    display: block;

}
.header__account:hover {
    opacity: 1;
}
.account__options {
    padding: 0.8rem 1rem;
}
.account__options > a {
    color: black;
    font-weight: 500;
}
.dropdown__account::before {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    right: 4rem;
    top: -0.7rem;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid white;
}
.dropdown__account::after {
    position: absolute;
    content: "";
    display: block;
    width: 16rem;
    height: 3rem;
    right: 0rem;
    top: -1.7rem;
}
.header__account {
    margin-right: 0;
}

/* Body */
.app__body--pc {
    /* margin-top: 12.2rem; */
}
.container__banner--pc {
    background-color: #fff;
}
.wraper__banner {
    padding-top: 3rem;
    display: flex;
    align-items: center;
}
.banner__img {
    width: 100%;
}

.space-for__header--fixed {
    height: 12.2rem;
}
.banner__vouchers {
    margin-top: 4rem;
}
.banner__vouchers:last-child {
    margin-bottom: 2rem;
}
.btn__voucher--icon {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 1.4rem;
    margin: 0 auto;
}
.wrapper__btn__voucher {
    display: flex;
    justify-content: center;
}
.wrapper__voucher--name {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.banner__voucher--name {
    font-size: 1.3rem;
    width: 8.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.btn__voucher--icon:hover {
    border: 1px solid #ccc;

}
.banner__voucher:hover {
    position: relative;
    top: -3px;
    cursor: pointer;
}
.body__background {
    background-color: #f5f5f5;
    height: 100rem;
}
.body__container {
    padding-top: 2rem;
    z-index: 0;
    position: relative;
}
.wrapper__category {
    position: relative;
    background-color: #fff;
}
.category__header {
    font-size: 1.6rem;
    color: rgba(0, 0, 0, .54);
    font-weight: 500;
    border-bottom: 1px solid #f5f5f5;
    padding: 2rem 0 2rem 1rem;
}
.category__option {
    border: 1px solid #f5f5f5;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
}
.btn__category--icon {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 1.4rem;
    margin: 0 auto;
    margin-top: 1rem;
}
.wrapper__btn__category {
    display: flex;
    justify-content: center;
}
.wrapper__category__option--name {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.category__option--name {
    font-size: 1.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding-bottom: 1.8rem;
    font-size: 1.3rem;
}
.category__option:first-child {
    border-left: none;
}
.category__option:last-child {
    border-right: none;
}
.row__category {
    margin-left: 0;
    margin-right: 0;
}
.category__btn__arrow--right {
    position: absolute;
    top: 16.9rem;
    right: -1.5rem;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px -7px 50px 11px;
}
/* Flash Sale */
.wrapper__flashSale {
    background-color: white;
    margin-top: 2rem;
    position: relative;
}
.flashSale__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 2rem 2rem;
}
.flashSale__header--left {
    display: flex;
}
.flashSale__clock__coutdown {
    display: flex;
    margin-left: 0.6rem;
}
.flashSale__header--text {
    font-size: 2rem;
    color: #ee4d2d;
    font-weight: 800;
}
.flashSale__text--lighting {
    margin-left: -1rem;
    margin-right: -1rem;
}
.flashSale__header--text--sale {
    font-weight: 600;
    opacity: 0.9;
}
.flashSale__clock__coutdown {
    display: flex;
    align-items: center;
    margin-top: 0.2rem;
}
.flashSale__clock__coutdown--item {
    background-color: black;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: white;
    font-size: 1.3rem;
    margin-right: 0.5rem;
    font-weight: 700;
    border-radius: .2rem;
    align-items: center;
    line-height: 1.25;
}
.flashSale__header--right {
    color: var(--primary-color);
    font-size: 1.4rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
}

.flashSale__header--right > span {
   margin-right: 0.2rem;
}
.flashSale__main {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 2rem;
}
.row__flashSale {
    width: 250;
}
.flashSale__item--img {
    width: 100%;
}
.flashSale__item--price{
    margin-top: 1.6rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 0.2rem;
}
.flashSale__item--topSeller {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #ffbda6;
    color: white;
    border-radius: 8px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.topSellerRed {
    position: absolute;
    height: 1.8rem;
    width: 1.8rem;
    top: 0;
    left: 0;
    border-radius: 8px 0px 0px 8px;
    background-color: var(--primary-color);
}
.col__flashSale--item {
    position: relative;
}
.flashSale__item--selloff {
    position: absolute;
    top: 0;
    right: 1.5rem;
    background-color: #ffe97a;
    color: var(--primary-color);
    padding-left: 1rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    line-height: 1;
}
.flashSale__item--selloff > span {
    margin-left: 1rem;
}
.flashSale__item--MALL {
    color: white;
    background-color: rgb(208, 1, 27);
    position: absolute;
    top: 0.825rem;
    left: 1.2rem;
    font-size: 1.3rem;
    display: flex;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    justify-content: center;
    align-items: center;
}
.stickyMall {
    position: absolute;
    bottom: -12px;
    left: -0.2px;
    width: 0;
    height: 12px;
    border-top: 5px solid rgb(208, 1, 27);
    border-left: 5px solid transparent;
}
.flashSale__item--liked {
    position: absolute;
    bottom: -12px;
    left: -0.2px;
    width: 0;
    height: 12px;
    border-top: 5px solid red;
    border-left: 5px solid transparent;
}


.flashSale__btn__arrow--right {
    position: absolute;
    top: 16.9rem;
    right: -1.5rem;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px -7px 50px 11px;
}