


:root {
    --primary-color : #fa5030;
}

html {
    font-size: 62.5%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
  height: 1000rem;
}

a {
  text-decoration: none;
  color: white;
}


.app__header--pc {
    background-color: var(--primary-color);
    width: 100%;
    height: 12.2rem;
    margin: 0 auto;
    position: fixed;
}

.container {
    margin: 0 auto;
    width: 120rem;
}

.header__navbar--pc {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  padding-top: 0.8rem;
}

.navbar--left__header--pc,
.navbar--right__header--pc {
  display: flex;
}

.navbar__item {
  position: relative;    
  margin-right: 2rem;
  color: white;
}


.navbar__item--left::after {
  position: absolute;
  content: "";
  height: 1rem;
  width: 0.1rem;
  display: block;
  background-color: #ccc;
  top: 5px;
  right: -12px;
}


.navbar__item--last-left {
    align-items: center;
    display: flex; 
    color: white;
}

.navbar__item--last-left > a {
    margin-left: 0.5rem;
}

.navbar__item--last-left > svg:last-child {
    color: white;
    margin-left: 1rem;
}

.navbar__item--last-left::after {
  display: none;
}

.navbar__item:hover {
    cursor: pointer;
    opacity: 0.8;
}

.navbar__item--last-left:hover {
    opacity: 1;
    cursor:text
}

.user-name {
    margin-left: -1rem;
    font-size: 1.3rem;
}

.header__withSearch--pc {
    margin-top: 2rem;
}

.header__withSearch__logo {
    height: 5rem;
    width: 16.2rem;
}

.header__search {
    width: 84rem;
    height: 4.1rem;
    background-color: white;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-top: 0.4rem;
}

.header__seach--input {
    width: 93%;
    height: 100%;
    font-size: 1.5rem;
    border: none;
    padding: 1rem;
}

.btn-search {
    background-color: var(--primary-color);
    padding: 1rem 1.9rem;
    color: white;
    border-radius: 2px;
}

.btn-search:hover {
    color: white;
    background-color: var(--primary-color);
    cursor: pointer;
    opacity: 0.8;
}

.cart--icon {
    color: white;
    height: 2.6rem;
    width: 2.6rem;
    top: 1.8rem;
    right: 1rem;
    position: relative;
}

.cart--icon__wrap {
    position: relative;
}

.cart--quantity {
    position: absolute;
    color: var(--primary-color);
    background-color: white;
    padding: 0 0.5rem ;
    border-radius: 40%;
    font-size: 1.3rem;
    top: 1.1rem;
    right: 6rem;
}

.product__list {
    display: flex;
    list-style: none;
    font-size: 1.2rem;
    margin-top: 0.2rem;
}

.product__item {
    margin-left: 1.5rem;
}

.product__item:first-child {
    margin-left: -2rem;
}
/* DropDown */
.navbar__item--download {
    position: relative;
}


.navbar__item--download:hover {
    opacity: 1;
}

.navbar__item--download:hover .download--dropdown {
    display: block;
}


.download--dropdown::after {
    position: absolute;
    content: "";
    display: block;
    width: 20rem;
    height: 3rem;
    right: 0rem;
    top: -2rem;
}

.download--dropdown {
   position: absolute;
   background-color: white;
   width: 18rem;
   height: 24rem;
   top: 3.5rem;
   border-radius: 0.2rem;
   display: none;
}
.download__qr--wrap {

    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.download__options {
    display: flex;
    flex-wrap: wrap;
}
.dowload-item {
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    color: black;
}
/* Language */
.navbar__item--language {
    position: relative;
}

.navbar__item--language:hover {
    opacity: 1;
}


.navbar__item--language:hover .select-language {
    display: block;
}


.select-language {
    position: absolute;
    background-color: white;
    width: 20rem;
    left: -10rem;
    top: 2.5rem;
    border-radius: 0.2rem;
    display: none;
}

.select-language::before {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    right: 4rem;
    top: -0.7rem;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid white;
}


.select-language::after {
    position: absolute;
    content: "";
    display: block;
    width: 20rem;
    height: 3rem;
    right: 0rem;
    top: -1.7rem;
    
}


.language__list {
    color: black;
    height: 5rem;
    list-style: none;
    text-decoration: none;
}

.language__item {
    padding: 1rem;
}

.language__item:hover {
    color: var(--primary-color);
}